<%- include('includes/head.ejs') %>
</head>

<body>
    <%- include('includes/navigation.ejs') %>
    <h1>Something wents wrrong</h1>
    <p>We are working on it. sorry for inconvience</p>

<%- include('includes/end.ejs') %>